body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #5e5e93, #d1d1d1);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;
}

.song-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-item {
    background-color: #4a4a69;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #616161;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #818181;
}